@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-background-secondary: #aaaaaa;
  --color-foreground: #171717;
  --color-text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-background-secondary: #222222;
    --color-foreground: #ffffff;
    --color-text: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  background-color: color-mix(in srgb, var(--color-background-secondary) 98%, transparent);
  color: var(--color-text);
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, 0.5);
  transition: padding 0.3s ease, height 0.3s ease;
}
