@import "tailwindcss";

:root {
  --color-background-light: #ffffff;
  --color-background-dark: #222222;
  --color-foreground-light: #ffffff;
  --color-foreground-dark: #171717;
  --color-text: #000;
}


body {
  background: var(--color-background-light);
  color: var(--color-foreground-dark);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  background-color: color-mix(in srgb, var(--color-background-dark) 98%, transparent);
  color: var(--color-foreground-light);
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, 0.5);
  transition: padding 0.3s ease, height 0.3s ease;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-foreground-light);
  color: var(--color-background-dark);
  border-radius: 2rem;
  width: 30%;
  gap: 0.5em;
}
.search-bar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1rem;
  width: 100%;
}
.search-bar .link {
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
}

.search-bar .left {
  width: 100%;
}

.link {
  display: inline-flex;
  transition: transform 0.2s ease;
}
.link:hover {
  transform: scale(1.15);
}


